@{
    ViewData["Title"] = "Home Page";
}
    <div class="homeWrapper">

        <div class="jumbotron">
            <h1 class="homeBanner">Contoso University</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="infoBox_Home">
                     <h2>Welcome to Contoso University</h2>
                    <p>
                    Contoso University is a Institution of Higher Learning that prides itself of providing a well rounded and rigerous education.
                    Our students graduate with understanding, skills and abiities that prepare them to be successful in their chosen career path.
                    We focus on helping students become life long learners that contribute to their communities and help lift others to achieve.
                    You are in the right place to make a difference in the world.
                   </p>
                 </div>
                
            </div>

        </div>
    </div>
