@page
@model ScriptureJournal2_Titel.Pages.Scriptures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ScriptureJournal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScriptureJournal.ID" />
            <div class="form-group">
                <label asp-for="ScriptureJournal.Book" class="control-label"></label>
                <input asp-for="ScriptureJournal.Book" class="form-control" />
                <span asp-validation-for="ScriptureJournal.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureJournal.Chapter" class="control-label"></label>
                <input asp-for="ScriptureJournal.Chapter" class="form-control" />
                <span asp-validation-for="ScriptureJournal.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureJournal.Verse" class="control-label"></label>
                <input asp-for="ScriptureJournal.Verse" class="form-control" />
                <span asp-validation-for="ScriptureJournal.Verse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureJournal.Notes" class="control-label"></label>
                <input asp-for="ScriptureJournal.Notes" class="form-control" />
                <span asp-validation-for="ScriptureJournal.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureJournal.DateAdded" class="control-label"></label>
                <input asp-for="ScriptureJournal.DateAdded" class="form-control" />
                <span asp-validation-for="ScriptureJournal.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
